<form clrForm [formGroup]="searchForm">
  <h5>Уточнить параметры поиска</h5>

  <clr-input-container>
    <label>Наименование запчасти</label>
    <input clrInput type="text" formControlName="query" class="dropdown-toggle" />
  </clr-input-container>

  <clr-input-container>
    <label>Автомобиль (марка, модель)</label>
    <input clrInput type="text" formControlName="car" />
  </clr-input-container>

  <clr-input-container>
    <label>Двигатель</label>
    <input clrInput type="text" formControlName="engine" />
  </clr-input-container>

  <div class="clr-form-control">
    <div class="btn-group">
      <button class="btn">Очистить</button>
      <button class="btn">Показать</button>
    </div>
  </div>

</form>